# TODO(https://fxbug.dev/441040633): Clean up these rules after the antlion
# migration is complete.
/src/testing/end_to_end/antlion/*.json
/src/testing/end_to_end/antlion/*.yaml
/src/testing/end_to_end/antlion/config/
/src/testing/end_to_end/antlion/logs/
/src/testing/end_to_end/antlion/*.sh
/src/testing/end_to_end/antlion/build/
